#pragma once

#define USE_STATIC_IP 1
IPAddress LOCAL_IP(192, 168, 1, 200);
IPAddress DNS_IP(192, 168, 1, 1);
IPAddress GATEWAY_IP(192, 168, 1, 1);
IPAddress SUBNET_MASK(255, 255, 255, 0);

const char WIFI_SSID[] = "YOUR_WIFI_NAME";
const char WIFI_PASSWORD[] = "YOUR_WIFI_PASSWORD";
#define API_USE_TLS 0
const char API_HOST[] = "192.168.1.148";
const int API_PORT = 8787;
const char SENSOR_TOKEN[] = "local-sensor-token";
const char SENSOR_ID[] = "f6af7002-7100-4b13-b04b-1ca1245d746b";
